<!--The content below is only a placeholder and can be replaced.-->
<!-- <section id='formSection'>
  <mat-checkbox [color]="'primary'">Check ma box</mat-checkbox>
  <mat-form-field [color]="'primary'">
    <input matInput [matDatepicker]="myDatepicker" [placeholder]="'Birth date'" [(ngModel)]="myDate">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  <p>Date saisie: {{myDate}}</p>
</section> -->
<div [style.minHeight.vh]="100" fxLayout="column" class="mat-typography">
  <app-header></app-header>
  <app-main-page fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center center"></app-main-page>
  <app-footer></app-footer>
</div>