<p>
  <mat-list>
    <mat-list-item *ngFor="let bookmark of bookmarks">
      <h3 matLine>
        <a href="{{bookmark.link}}">{{bookmark.title}}</a>
      </h3>
      <button mat-icon-button routerLink="/tag/form/{{bookmark.id}}"><mat-icon color='primary'>delete</mat-icon></button>
      <mat-chip-list matLine>
        <mat-chip *ngFor="let tag of bookmark.tags">
          <a routerLink="/tag/{{tag.id}}">{{tag.label}}</a>
        </mat-chip>
      </mat-chip-list>
      <p matLine>{{bookmark.description}}</p>
    </mat-list-item>
  </mat-list>
</p>