label{
    background-color: aliceblue;
    min-width: 12em;
    width: 25em;
    flex: 15em;
    margin: 0.5em;
}
input{
    background-color: whitesmoke;
    width: 25em;
    min-width: 15em;
    margin:0.5em;
}
section{
    width: 50%;
    flex-direction: column;
    align-content: center;
    padding: 0.5em;
}
.mainContainer{
    display: flex;
    width: 100%;
    flex-direction: row; 
    min-width: 50em;
    flex-wrap: nowrap;
}   

.coupleInput{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.formulaire{
    flex:1;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-width: 25%;
    flex-shrink: 0;
    align-items: center;
}

.txt-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgLink-card{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.id-card{
    display:flex;
    flex:2;
    align-items: center;
    flex-direction: column;
    min-width: 25%;
}
